.receitas {
	background: #e5e5e5;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

@media screen and (min-width: 0) {
	.receitas {
		padding: 5rem 1rem 0 1rem;
	}
}

@media screen and (min-width: 768px) {
	.receitas {
		padding: 5rem 0 0 2.5rem;
	}
}

@media screen and (min-width: 992px) {
	.receitas {
		justify-content: center;
		padding: 5rem 0 0 5rem;
	}
}

@media screen and (min-width: 1024px) {
	.receitas {
		justify-content: start;
		padding: 5rem 0 0 5rem;
	}
}